
<footer class="footer footer-default">
    <div class="container">
        <nav class="text-center">
            <ul>
                <li>
                    <a class="nav-link" asp-action="Index" asp-controller="Authors" asp-area="Manage">
                        Authors
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-action="Index" asp-controller="Editorials" asp-area="Manage">
                        Editorials
                    </a>
                </li>
                <li>
                    <a class="nav-link" asp-action="Index" asp-controller="Books" asp-area="Manage">
                        Books
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">
                        Privacy
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>